.exams-card {
    width: 60%;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Montserrat';
    min-width: 400px;
}

.mat-table {
    text-align: center;
}

.mat-header-cell {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

.mat-row {
    border-bottom-color: rgba(117, 117, 117, 0.12)!important;
    font-family: 'Montserrat';
}

.mat-raised-button {
    color: white;
    background-color: #343a40;
}

.mat-form-field {
    font-family: 'Montserrat';
}

input {
    font-style: italic!important;
}

h4 {
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 50px;
    color: gray;
}
