.center-container-with-top-margin {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
    color: gray;
}

.mat-elevation-z8 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.mat-cell {
    border-bottom-color: rgba(117, 117, 117, 0.12)!important;
    font-family: 'Montserrat';
}

.mat-header-cell {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field {
    margin-left: 15%;
    font-family: 'Montserrat';
}

input {
    font-style: italic!important;
}
