.mat-elevation-z8 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.mat-cell {
    font-family: 'Montserrat';
}

.mat-header-cell {
    font-size: 14px;
}

.mat-raised-button {
    color: white;
    background-color: #343a40;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-family: 'Montserrat';
}
