<div class="mat-elevation-z8">
    <button class="create-button" mat-raised-button [routerLink]="['../create-course-practical']">Utwórz nowy termin zajęć praktycznych</button>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="instructorPractical" matSort>
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kurs </th>
            <td mat-cell *matCellDef="let element"> {{ element.course.name }} </td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
            <td mat-cell *matCellDef="let element"> {{ element.date.substring(0,10) }} </td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Godzina rozpoczęcia </th>
            <td mat-cell class="timeCell" *matCellDef="let element"> {{ element.date.substring(11,16) }} </td>
        </ng-container>
        <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kursant </th>
            <td mat-cell *matCellDef="let element"> {{ element.student.name }} {{ element.student.surname }}</td>
        </ng-container>
        <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef>Dodaj ocene</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Dodaj ocene" *ngIf="element.instructorRate == 0" (click)="selectThisPractical(element.id)" 
                    [routerLink]="['../practical-add-rate']">
                    <mat-icon>add</mat-icon>
                </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>Dodaj komentarz</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Dodaj komentarz" *ngIf="element.comment.length == null" (click)="selectThisPractical(element.id)" 
                    [routerLink]="['../practical-add-comment']">
                    <mat-icon>note_add</mat-icon>
                </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 

    <mat-form-field>
        <mat-label><mat-icon class="display">search</mat-icon>&nbsp;Szukaj</mat-label>
        <input matInput (keyup)="filter($event)" placeholder="słowo kluczowe">
    </mat-form-field>
</div>
