<div class="tab">
  <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="matLabel">
          Moje kursy
        </div>
      </ng-template> 
      <ng-template matTabContent>
        <div class="tabContent">
          <app-user-courses></app-user-courses>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="matLabel">
          Egzaminy
        </div>
      </ng-template> 
      <ng-template matTabContent>
        <div class="tabContent">
          <app-exam></app-exam>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="matLabel">
          Dostępne kursy
        </div>
      </ng-template> 
      <ng-template matTabContent>
        <div class="tabContent">
          <app-courses-list></app-courses-list>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
