.tab {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.mat-tab-group {
    margin-bottom: 48px;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.matLabel {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
}
