.container {
    padding: 50px;

    .profile-card {
        background-color: #f7f7f7;
        max-width: 500px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }

    .mat-card-avatar {
        height: 120px;
        width: 120px;
    }

    .mat-card-title {
        font-size: 35px;
        padding: 15px 30px;
        padding-bottom: 0;
        font-weight: 500;
    }

    .mat-card-subtitle {
        color: rgba(0,0,0,.54);
        margin-top: -8px;
        padding-left: 30px;
    }

    .mat-subheader {
        color: rgba(0,0,0,.55);
        padding-bottom: 2px;
        font-weight: 500;
    }

    .mat-divider {
        display: block;
        margin: 0;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgba(68, 67, 67, 0.55);
    }

    .mat-list-icon {
        color: rgba(0, 0, 0, 0.54);
        padding-right: 20px;
      }
}
