table {
    width: 100%;
}

.mat-elevation-z8 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.mat-header-cell {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    color: grey;
}

.mat-raised-button {
    color: white;
    background-color: #343a40;
}

mat-label {
    font-family: 'Montserrat';
    color: gray;
    font-weight: bold;
}

.mat-form-field {
    box-shadow: 3px 3px 3px 3px #888888;
    height: 50px;
    width: 60%;
    padding-left: 20px;
    font-family: 'Montserrat';
}

.display {
    transform: scale(1.3);
}

.mat-cell {
    border-bottom-color: rgba(117, 117, 117, 0.12)!important;
    font-family: 'Montserrat';
}
